<head>
  <%- include(`../partials/header`, { data }); -%>

  <!-- ---------------------------- Behavior CSS ----------------------------- -->
  <link rel="stylesheet" id="behavior_style" href="<%= data.server_address %>/vendors/app.css" />
  <link rel="stylesheet" href="<%= data.server_address %>/vendors/pages/blog.css" />

  <!-- Title -->
  <title><%- data.company[0].toUpperCase() + data.company.slice(1) %> Blog</title>
</head>

<body>
  <!-- ---------------- Render Posts ----------------- -->
  <div class="flex flex-wrap sm:flex-no-wrap items-center justify-start gap-5 w-full mt-8 mx-auto container">
    <% data.forEach(function(post) { %>
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <a href="<%= data.server_address %>/v1/<%= 'embargo' %>/<%= post._id %>">
        <img class="w-full" src="<%= post.info.image %>" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"><%= post.info.title %></div>
          <p class="text-gray-700 text-base"><%= post.info.description %></p>
        </div>
      </a>
    </div>
    <% }); %>
  </div>

  <!-- ----------------------------- Behavior JS ----------------------------- -->
  <script src="<%= data.server_address %>/vendors/pages/blog.js"></script>
  </script>
</body>