<section id="<%= element.dynamic_id %>" class="relative w-full py-12 px-12">
  <div class="relative z-10 text-center py-12 md:py-24">
    <h1
      class="text-white text-center text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-display font-bold mb-6"
    >
      <%= element.configuration.title %>
    </h1>
    <p class="text-white mb-10 text-base md:text-lg font-bold">
      <%= element.configuration.text %>
    </p>
    <a
      href="<%= element.configuration.button.link %>"
      class="inline-block bg-yellow-800 text-white uppercase text-sm tracking-widest font-heading px-8 py-4"
      ><%= element.configuration.button.label %></a
    >
  </div>
  <img
    src="<%= element.configuration.image %>"
    class="w-full h-full absolute inset-0 object-cover"
  />
</section>
